# python byte compiled files
*.py[cod]
__pycache__

# C[ython] extensions
*.c
*.html
*.so

# Packages
*.egg
*.egg-info

# Installer logs
pip-log.txt

# Unit test / coverage reports
coverage
.coverage
.tox
nosetests.xml

# backup files
*~

# test images
*.png

# config file
/config.py
